<a href="https://colab.research.google.com/github/cubeV7/Home_Assignment/blob/main/2_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numbers
Python stores numbers in two types:
1. Integers
2. Floating point

- Integers or ints are whole numbers without any decimal places like age, number of days in month, class in which you study etc.
- Floating point numbers or just floats are numbers with decimals in them like the temprature today, etc.
- Both ints and floats cab be positive or negative.

Let's create some number in python

In [1]:
# create numbers in python
a = 20
b = 5
c = 1.2
d = -45

Now that we have declared some variables with ints and floats, let's do some basic math with them

In [2]:
print (a + b) # add int
print (a + c) # add float

25
21.2

In [3]:
print(a - b) # subtract int
print(a - c) # subtract float

15
18.8

In [4]:
print (a * c) # product float
print (b * d) # product negative

24.0
-225

In [5]:
# division
print(b/a)
print(d/b)
# int division: we get only int
print(b//a)
print(a//b)

0.25
-9.0
0
4

In [6]:
# remainder of operation x / y
print(b%a)
print(a%b)

5
0

In [7]:
# absolute value of x
x1 = - 1
x2 = -2.5
print(abs(x1)) # absolute value int
print(abs(x2)) # absolute value float

1
2.5

In [8]:
# x to the power y
print(a ** b)
print(pow(a,b))

3200000
3200000

In [9]:
# convert float to int
# note the loss of precision
e = 10.257
f = 35.75
print(int(e))
print(int(f))

10
35

In [10]:
# convert int to float
print(float(a))
print(float(d))

20.0
-45.0

In [11]:
# round
print(round(e)) # round to the nearest integer
print(round(f)) # round to the nearest integer
print(round(e,1)) # round to 1 decimal place
print(round(e,2)) # round to 2 decimal places

10
36
10.3
10.26

# Excercise
1. Create a variable to store your age and another variable to store your sibling's age. Find the diffrence between the two.
2. Convert the float number 3.4 to int.
3. Convert the int number 10 to float.
4. Find the data type of the number 2e35.
5. What is the difference between division and integer division of 35 and 6.
6. Round 6.7897 to 2 decimal places.
7. Print the result of 4 raised to the power of -5.
8. Create 3 variable to store the temperature of the last 3 days. Calculate the average temperature.  
9. Create a variable to store today's temperature in Celsius. Convert it to Fahrenheit.
10. Calculate the area of a circle with a radius of 5.

# Solution

In [12]:
# Excercise 1
my_age = 30
sibling_age = 27
difference = my_age - sibling_age
print(difference)

3

In [13]:
# Excercise 2
num_float = 3.4
num_int = int(num_float)
print(num_int)

3

In [ ]:
# Excercise 3
num_int = 10
num_float = float(num_int)
print(num_float)

10.0

In [ ]:
# Excercise 4
type(2e35)

float

In [ ]:
# Excercise 5
normal_div = 35/6
int_div = 35//6
diff = normal_div - int_div
print(diff)

0.833333333333333

In [ ]:
# Excercise 6
round(6.7897,2)

6.79

In [ ]:
# Excercise 7
print(4**-5)
print(pow(4,-5))

0.0009765625
0.0009765625

In [ ]:
# Excercise 8
day1_t =  12
day2_t = 11
day3_t = 14

average = (day1_t + day2_t + day3_t) / 3
print(average)

12.333333333333334

In [ ]:
# Excercise 9
cel = 13
feh = (cel * 9/5) + 32
print(feh)

55.4

In [ ]:
# Excercise 10
r = 5
area = 3.14159 * r**2
print(area)

78.53975